img {
    object-fit: contain;
    width: 120px;
}
#container {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    display: flex;
    justify-content: center;
}

#antGjett {
    display: flex;
    justify-content: center;
}

button {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 50%;
    font-size: large;
    background: black;
    color: white;

}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
}